.mainbody-top-left{
    font-size: 16px;
 color: #000;
}

.mainbody-top-center{
    font-size: 14px;
    margin-right: 125px;
    display: flex;
    box-sizing: content-box;
    align-items: center;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 16px;
}

.main-body{
    background-color: white;
    margin-left: 160px;
    margin-right: 160px;
}

.mainbody-top{
    display: flex;
    margin-top: 15px ;
    justify-content: space-between;
    align-items: center;
}

.mainbody-top-right{
    display: flex;
    align-items: center;
}

.docs-icon-1{
    color: white;
    font-size: 12px;
    background-color: #6e2594;
    padding: 3px;
    margin-right: 3px;
    border-radius: 2px;
}

.doc-card-con{
    font-size: 12px;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
}

.doc-icon-2{
    font-size: 16px;
    color: grey;
}

.mainbody-docs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.doc-card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200ox;
    margin-right: 20px;
}

.doc-card:hover{
    border: 1px solid #6e2594;
}

.doc-img{
    box-sizing: border-box;
    height: 150px;
    width: 200px;
}

.doc-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.content-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}